<a (click)="goFilmDetail(dataCompleted.episode_id)" class="mb-3 d-block position-relative">
    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 bg-secondary rounded text-white">
        <i class="fas fa-link fa-2x"></i>
    </div>
    <img src="../../../../assets/banner.jpg" alt="" class="position-relative img-fluid w-100 shadow-lg rounded opacity-1-hover">
</a>
<h4><a (click)="goFilmDetail(dataCompleted.episode_id)" class="text-body">{{dataCompleted.title}}</a></h4>